.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bio {
    font-size: 16px;
    color: #ababab;
    margin: 10px 0;
}

.infos{
    display: flex;
    flex-direction: row;
    color: white;
}

.follows{
    display: flex;
    justify-content: space-evenly;
}

.follows p {
    margin: 20px;
}

.right-side {
    margin-left: 40px;
}

.follow-button{

}

