.card {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  max-width: fit-content; 
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:hover {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  cursor: pointer;
  transform: scale(1.02);
}

.card-body {
  display: flex; 
  flex-direction: column;
  align-items: center; 
  padding: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.vote-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.vote-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
  color: #555555;
  transition: color 0.3s;
}

.vote-button.upvote:hover {
  color: #33cc33;
}

.vote-button.downvote:hover {
  color: #ff0000;
}

.card-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 3% 0;
}

.vote-button.upvote.clicked,
.vote-button.downvote.clicked {
  opacity: 0.5;
}

.vote-button.upvote.clicked {
  opacity: 0.5;
  color: #33cc33;
  pointer-events: none;
}

.vote-button.downvote.clicked {
  opacity: 0.5;
  color: #ff0000;
  pointer-events: none;
}

.vote-button.upvote.clicked:hover {
  color: #33cc33;
  pointer-events: auto;
}

.vote-button.downvote.clicked:hover {
  color: #ff0000;
  pointer-events: auto;
}

.card-img-top{
  flex-grow: 1;
  object-fit: contain;
  max-width: 60%;
  max-height: 60%;
}