@media (max-width: 450px) {
  .card-body {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cards{
    margin-bottom: 60px;
  }
}

@media (min-width: 451px) {
  .card-body {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
  }
}


.card {
  margin-top: 20px;
  background-color: #202226 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
}


.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.vote-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
}

.vote-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
  color: #555555;
  transition: color 0.3s;
  color: white;
}

total-comments {
  font-size: 20px !important;
}

.comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  padding-left: 10px;
}

.vote-button.upvote:hover {
  color: #33cc33;
}

.vote-button.downvote:hover {
  color: #ff0000;
}

.card-text {
  max-height: 10em;
  overflow: hidden;
  position: relative;
  color:white;
}

.card-text::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3em;
  background: linear-gradient(rgba(5, 5, 5, 0), rgba(38, 37, 37, 0.76));
}

.card-title-container {
  padding: 0 0 3% 0;
}

.title{
  color: white;
}

.cards{
  margin-bottom: 60px;
}

.vote-button.upvote.clicked,
.vote-button.downvote.clicked {
  opacity: 0.5;
}

.vote-button.upvote.clicked {
  opacity: 0.5;
  color: #33cc33;
  pointer-events: none;
}

.vote-button.downvote.clicked {
  opacity: 0.5;
  color: #ff0000;
  pointer-events: none;
}

.vote-button.upvote.clicked:hover {
  color: #33cc33;
  pointer-events: auto;
}

.vote-button.downvote.clicked:hover {
  color: #ff0000;
  pointer-events: auto;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #040D12;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}

.pagination button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 10px;
  font-size: 16px;
  border-radius: 10%;
}

.pagination button:hover {
  background-image: linear-gradient(62deg, #183D3D 0%, #5C8374 100%);
}

.pagination span {
  font-size: 16px;
}

.animateHighUpvotes::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid transparent;
  animation: pulse-border 1.5s ease-in-out infinite both;
  z-index: -1;
}

@keyframes pulse-border {
  0% {
    transform: scale(1);
    border-color: transparent;

  }

  50% {
    transform: scale(1.01);
    border-color: #d9173a;
    border-radius: 10px;
  }

  100% {
    transform: scale(1);
    border-color: transparent;
    border-radius: 10px;
  }
}

.card-img-top {
  height: 250px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 20px 0 20px;
}

.languageIcon{
  width: 8%;
}

.name-followers {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Helvetica Neue', sans-serif;
}

.name-followers a {
  text-decoration: none;
  color: #cecece;
}

.userName {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.follower-count {
  margin-top: 5px;
  font-size: 14px;
  color: #777;
}

.name-followers a:hover .userName {
  text-decoration: underline;
}

.userInfo{
  align-items: center;
}

.stories-filter{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 20%;
  margin-top: 20px;
  margin-bottom: -10px;
}

.filter-button {
  background-color: transparent;
  border: none;
  color: white;
}

.filter-button:hover{
  background-color: #4b4848;
  border-radius: 20px;
  height: 30px;
}





