.card {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  max-width: fit-content;
  margin: 0 auto;
  padding: 20px;
  background-color: #5b5757 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
}

.card:hover {
  background-color: #183D3D;
  background-image: linear-gradient(62deg, #183D3D 0%, #5C8374 100%);
  cursor: pointer;
  transform: scale(1.01);
}

.card-body {
  display: flex; 
  flex-direction: column;
  align-items: center; 
  padding: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.vote-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.vote-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
  color: #555555;
  transition: color 0.3s;
  color: white;
}

.vote-button.upvote:hover {
  color: #33cc33;
}

.vote-button.downvote:hover {
  color: #ff0000;
}

.card-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 3% 0;
}

.vote-button.upvote.clicked,
.vote-button.downvote.clicked {
  opacity: 0.5;
}

.vote-button.upvote.clicked {
  opacity: 0.5;
  color: #33cc33;
  pointer-events: none;
}

.vote-button.downvote.clicked {
  opacity: 0.5;
  color: #ff0000;
  pointer-events: none;
}

.vote-button.upvote.clicked:hover {
  color: #33cc33;
  pointer-events: auto;
}

.vote-button.downvote.clicked:hover {
  color: #ff0000;
  pointer-events: auto;
}

.card-img-top{
  flex-grow: 1;
  object-fit: contain;
  max-width: 60%;
  max-height: 60%;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #040D12; /* Material Design Blue */
  color: white; /* Text color */
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}

.pagination button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 10px;
  font-size: 16px;
  border-radius: 10%;
}

.pagination button:hover {
  background-image: linear-gradient(62deg, #183D3D 0%, #5C8374 100%);
}

.pagination span {
  font-size: 16px;
}

.animateHighUpvotes::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid transparent; /* Set the initial border */
  animation: pulse-border 1.5s ease-in-out infinite both; /* Add "both" to keep final state */
  z-index: -1; /* Move the pseudo-element behind the card content */
}

@keyframes pulse-border {
  0% {
    transform: scale(1);
    border-color: transparent; /* Initial border color */

  }
  50% {
    transform: scale(1.01);
    border-color: #d9173a; /* Border color when animated */
    border-radius: 10px;
  }
  100% {
    transform: scale(1);
    border-color: transparent; /* Back to initial border color */
    border-radius: 10px;
  }
}
