.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;

}

.story-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.column {
  flex-grow: 1;
  flex-basis: calc(50% - 20px);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img-top{
  flex-grow: 1;
  object-fit: contain;
  max-width: 60%;
  max-height: 60%;
}

.story {
  margin: 20px;
  background-color: #4b4848 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.story:hover {
  background-color: #183D3D;
  background-image: linear-gradient(62deg, #183D3D 0%, #5C8374 100%);
  cursor: pointer;
  transform: scale(1.01);
}

.story h3 {
  font-size: 18px;
  margin-bottom: 5px;
  transition: transform 0.3s ease;
  margin: 0;
}


.story p {
  font-size: 14px;
  color: #666;
  margin: 0;
  margin-top: 5px;
}

.story p:last-child,
.story p:nth-last-child(2) {
  font-size: 12px;
  color: #999;
}

.story-text {
  max-height: 10em;
  overflow: hidden;
  color: white !important;
}

.bio {
  font-size: 16px;
  color: #ababab;=
  margin: 10px 0;
}

.create-bio-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #fff;
    color: #000;
  }
}