@media (max-width: 450px) {
    .story-list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 90%;
        flex-direction: column;
    }

    .story{
        width: 100%;
        margin-bottom: 20px;
    }

    .vote-list{
        width: 100%;
    }
}

.navBar-fix{
    justify-content: center;
    display: flex;
}